/* .design
{
       background: rgb(131,58,180);
       background: linear-gradient(90deg, rgba(131,58,180,1) 7%, rgba(252,176,69,1) 73%, rgba(253,213,29,1) 100%);
 color:white;
}
.des
{
       background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 24%, rgba(253,213,29,1) 71%, rgba(252,176,69,1) 100%);
}
.abd
{
       background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 7%, rgba(252,176,69,1) 73%, rgba(253,213,29,1) 100%);
} */

/* .abd
{
       background: rgb(2,0,36);
       background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(101,9,121,1) 35%, rgba(0,212,255,1) 100%);
       
} */

