/* .design
{
       background: rgb(131,58,180);
       background: linear-gradient(90deg, rgba(131,58,180,1) 7%, rgba(252,176,69,1) 73%, rgba(253,213,29,1) 100%);
 color:white;
}
.des
{
       background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 24%, rgba(253,213,29,1) 71%, rgba(252,176,69,1) 100%);
}
.abd
{
       background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 7%, rgba(252,176,69,1) 73%, rgba(253,213,29,1) 100%);
} */

/* .abd
{
       background-image: url(download.png);
       background-position: center;
       opacity: 
       
} */