
#newTask .align{
    margin: 10px;
}
#addtaskpopup{
    top: unset;
    left: 5%;
    bottom:10%;
    right:unset;

    /* width:200px; */
}
.css-1b0ve20>:not(style){
    margin: 0 !important;
}
.css-1wchs4a{
    padding: 10px !important;
}
.css-1wchs4a {
    width: 100% !important;
    max-width: 280px !important;}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 4px 13px !important;
}
#addtaskpopup h6{
    font-weight: bold;
    color: #1976d2;
}
#addtaskpopup > div:first-child{
    background-color: transparent;
}
#addtaskpopup .css-9tj150-MuiButton-endIcon>*:nth-of-type(1) {
    font-size: 14px;
}

.react-daterange-picker__wrapper{
    margin-top: 4px;
    font-size: 10px;
    border: thin solid #ffc107 !important;
    border-radius: 10px;
}

/* date */
#addtaskpopup .datePicker{width: 50%;}
#addtaskpopup .datePicker > div {
        border: none;
       
}

#addtaskpopup .datePicker > div input{
    padding: 0;
    /* text-align: center; */
    font-size: 14px;
}
#addtaskpopup .datePicker > div input{
    display: none;
}
#addtaskpopup .datePicker > div div{
    height: auto;
}
#addtaskpopup .datePicker > div fieldset{
    border: none;
}