#todo{
    background-color: #eaf0f7;
}
#todo .header{
    padding:  10px 0;
    background-color: #eaf0f7;
    font-family:Arial, Helvetica, sans-serif;
}
#todo .header h5{
    color: #3d3f43;
    font-weight: 700;
    font-size: 14px;
    font-family: raleway,sans-serif;
}
.css-19kzrtu {padding: 0 !important;}

#todo .card{
    background-color: white;
    padding: 15px;
    border: none;  
    box-shadow: -1px -1px 22px -13px #6c757d;
    margin:0 10px;
    border-radius: 8px;
}
#todo .card h5{
    font-family:"open sans ,sans-serif";
    font-size: 16px;
    font-weight: 600;
}
#todo .card p{
    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500; */
    color: #6f6f6f;
    font-size: 14px;
}

/* datePicker------------- */

#todo .datePicker{width: 50%;}
#todo .datePicker > div {
        
        border: none;
       
}

#todo .datePicker > div input{
    padding: 0;
    
    font-size: 14px;
}
#todo .datePicker > div input{
    display: none;
}
#todo .datePicker > div div{
    height: auto;
}
#todo .datePicker > div fieldset{
    border: none;
}

.addComments button{
    border: 1px solid #367ef5;
    border-radius: 5px;
    background-color: #367ef5;
    color:white;
    font-size: 10px;
    padding: 0;
}


#todo .addComments .form-control:focus {
    border: 0.5px solid gray;
    box-shadow: none;
}
