#todo{
    background-color: #eaf0f7;
}

/* scroll-bar */
#todo ::-webkit-scrollbar {
    width:2px;
  }
  #todo ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px  #1976d2;; 
    border-radius: 1px;
  }
   
  /* Handle */
  #todo  ::-webkit-scrollbar-thumb {
    background: #adb5bd;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  /* #todo ::-webkit-scrollbar-thumb:hover {
    background:blue; 
  } */



#todo-list  .body{
    max-height: 300px;
    overflow-y: auto;
}
/* #todo-list  .body .noTask{
    background-color: white;
    padding:10px;
    margin:0 10px;
} */
#todo .header{
    padding:  10px 10px;
    background-color: #eaf0f7;
    font-family:Arial, Helvetica, sans-serif;
}
#todo .header h5{
    color: #3d3f43;
    font-weight: 700;
    font-size: 14px;
    font-family: raleway,sans-serif;
}
.css-19kzrtu {padding: 0 !important;}

#todo .card{
    background-color: white;
    padding: 10px;
    border: none;  
    box-shadow: -1px -1px 22px -13px #6c757d;
    margin: 10px;
    border-radius: 8px;
}
#todo .card span{ 
    font-size:9px;
    color: #6f6f6f;
}
#todo .card h5{
    font-family:"open sans ,sans-serif";
    font-size: 16px;
    font-weight: 600;
}
#todo .card p{
    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500; */
    color: #6f6f6f;
    font-size: 14px;
}

/* taskFilter */
#taskFilter{
    right: 0;
    top: 0;
    width: auto;
}
#taskFilter button{
    padding: 0;
    border: none;

}
#taskFilter button:hover{
background-color:#6f6f6f29;

}

/* datePicker------------- */

/* #simple-popover .datePicker{width: 50%;}
 #simple-popover .datePicker > div {
        border: none;
} */
#simple-popover .css-17ffvgn-MuiTypography-root {
    padding: 5px;
    font-size: 14px;
}
#simple-popover .css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
    border-radius: 0%;
}
/* 
#simple-popover > div{
    font-size: 14px;
    font-weight: 600;
    color:#6f6f6f;
    border: none;
    min-width: 100px;
    box-shadow: 0px 8px 10px 1px rgba(0,0,0,.14), 0px 3px 14px 2px rgba(0,0,0,.12), 0px 5px 5px -3px rgba(0,0,0,.2);
} */
 #simple-popover .datePicker > div input{
    padding: 0;
    font-size: 14px;
}

#simple-popover .datePicker > div input{
    display: none;
}
#simple-popover .datePicker > div div{
    height: auto;
}
#simple-popover .datePicker > div div button::before{
    content: "Date";
    font-size: 14px;
}
#simple-popover .datePicker > div div button svg{
    font-size: 17px;
}
#simple-popover .datePicker > div fieldset{
    border: none;
}

.addComments button{
    border: 1px solid #367ef5;
    border-radius: 5px;
    background-color: #367ef5;
    color:white;
    font-size: 10px;
    padding: 0;
}

#todo .addComments .form-control:focus {
    border: 0.5px solid gray;
    box-shadow: none;
}
