.box {

       width: 1200px;
       margin: 0 auto;
       /* background-image: linear-gradient(to right, #8360c3, #2ebf91);
       height: 110vh; */
       color:white;
       text-align: center;
       margin-top: 10px;
       font-family: 'Times New Roman', Times, serif;
       
     
     }
     .box1
     {
       background-image: linear-gradient(to right, #8e2de2, #4a00e0);
       height: 30px;
       margin-top:-10px;
       width: 282px;
     }
     .box2
     {
       width:1100px;
       height:100vh;
       background-color: #EEE8AA;
       margin-top: 0px;
      
     }
     input
     {
      width: 800px;
      padding-bottom:5px;
      float: left;
      border-radius:10px;
      text-align: center;
      font-size: large;
      font-family: 'Times New Roman', Times, serif;
      background-color:	#2c2c2c;  
     }
     .input1
     {
       margin-top: 12px;
       margin-left: 5px;
       border: hidden;
     }
     .bts
     {
       float: right;
       margin-top: 12px;
       margin-right: 10px;
       border-radius: 10px;
       border: hidden;
       width: 100px;
       height: 25px;
       background-color:	#2c2c2c;
       color: white;
       font-family: 'Times New Roman', Times, serif;
     }
     input
     {
       margin-top: 11px;
       margin-left: 2px;
       color:white;
       height: 34px;
     }
     .align
     {
       margin-top:40px;
       float:left;
       margin-left:-801px;
     }
     /* .align1
     {
       margin-top: 17px;
       width: 100px;
       height: 50px;
       background-color: #2c2c2c;
     } */
     .fix
     {
       margin-top: 13px;
       width:177px;
       height: 23px;
       border-radius: 7px;
       background-color: #2c2c2c;
       color: white;
     }
     .table
     {
       margin-top:49px;
     }